@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
  overflow: hidden;
}

.image-inverted{
  filter: invert(100%);
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: logo-spin infinite 10s linear;
}


